.lista-vacia{
    text-align: center;
}
.actions-menu{
    padding: 40px 30px;
}
.actions-menu-content{
  display: flex;
  justify-content: space-between;
}
.actions-menu-content > button.btn.btn-primay{
    height: 40px;

}
.actions-menu h1{
    margin-bottom: 20px
}

.form-row{
 
        padding: 20px 0px; 

}
.alert{
    display:none;
}