.table {
    width: 80% ;
    margin: 1%;
    margin-bottom: 1rem;
    color: #212529;
}

table{
    border-collapse: collapse;
}

.table thead th {
    padding: 0.75rem;
    vertical-align: bottom;
    border-top: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
}